In [13]:
# STANDARD LIBRARIES
import pandas as pd
import numpy as np
import glob

# Create Master DataFrame

### `data`

In [2]:
# READING THIS FILE IN AS RESULTS IN A DtypeWarning
# AND ADVISES THE USER TO SET 'low_memory=False'

data = pd.read_csv("../data/fy19fullpropassess.csv", low_memory=False)

## Investigate `data`

In [14]:
data.head()

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,LU,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,502550008,502550000.0,502550000,87,BEACON,ST,2-F,2108.0,102,CD,...,M,NaN,O,M,W,N,1.0,N,G,A
1,502550010,502550000.0,502550000,87,BEACON,ST,2-R,2108.0,102,CD,...,NaN,NaN,O,S,W,N,1.0,N,A,A
2,502550012,502550000.0,502550000,87,BEACON,ST,3-F,2108.0,102,CD,...,S,NaN,O,M,W,N,1.0,N,A,G
3,502550014,502550000.0,502550000,87,BEACON,ST,3-R,2108.0,102,CD,...,NaN,NaN,O,N,W,N,1.0,S,A,G
4,502550016,502550000.0,502550000,87,BEACON,ST,4,2108.0,102,CD,...,M,M,O,L,W,C,2.0,N,E,G

In [3]:
data.shape

(174668, 75)

In [4]:
data.dtypes

PID            int64
CM_ID        float64
GIS_ID         int64
ST_NUM        object
ST_NAME       object
              ...
U_AC          object
U_FPLACE     float64
U_INT_FIN     object
U_INT_CND     object
U_VIEW        object
Length: 75, dtype: object

In [17]:
# DATAFRAMES BY DATATYPE

# data.select_dtypes(include="object")["lu"].value_counts()
# data.select_dtypes(include="int64")
# data.select_dtypes(include="float64")
# data.select_dtypes(include="bool")

In [5]:
data.isna().sum()

PID               0
CM_ID         92630
GIS_ID            0
ST_NUM            0
ST_NAME           0
              ...
U_AC         110624
U_FPLACE     110624
U_INT_FIN    110624
U_INT_CND    110624
U_VIEW       110624
Length: 75, dtype: int64

In [19]:
data.columns

Index(['PID', 'CM_ID', 'GIS_ID', 'ST_NUM', 'ST_NAME', 'ST_NAME_SUF',
       'UNIT_NUM', 'ZIPCODE', 'PTYPE', 'LU', 'OWN_OCC', 'OWNER',
       'MAIL_ADDRESSEE', 'MAIL_ADDRESS', 'MAIL CS', 'MAIL_ZIPCODE', 'AV_LAND',
       'AV_BLDG', 'AV_TOTAL', 'GROSS_TAX', 'LAND_SF', 'YR_BUILT', 'YR_REMOD',
       'GROSS_AREA', 'LIVING_AREA', 'NUM_FLOORS', 'STRUCTURE_CLASS',
       'R_BLDG_STYL', 'R_ROOF_TYP', 'R_EXT_FIN', 'R_TOTAL_RMS', 'R_BDRMS',
       'R_FULL_BTH', 'R_HALF_BTH', 'R_BTH_STYLE', 'R_BTH_STYLE2',
       'R_BTH_STYLE3', 'R_KITCH', 'R_KITCH_STYLE', 'R_KITCH_STYLE2',
       'R_KITCH_STYLE3', 'R_HEAT_TYP', 'R_AC', 'R_FPLACE', 'R_EXT_CND',
       'R_OVRALL_CND', 'R_INT_CND', 'R_INT_FIN', 'R_VIEW', 'S_NUM_BLDG',
       'S_BLDG_STYL', 'S_UNIT_RES', 'S_UNIT_COM', 'S_UNIT_RC', 'S_EXT_FIN',
       'S_EXT_CND', 'U_BASE_FLOOR', 'U_NUM_PARK', 'U_CORNER', 'U_ORIENT',
       'U_TOT_RMS', 'U_BDRMS', 'U_FULL_BTH', 'U_HALF_BTH', 'U_BTH_STYLE',
       'U_BTH_STYLE2', 'U_BTH_STYLE3', 'U_KITCH_TYPE', 'U_KITCH_STYLE',
       'U_HEAT_TYP', 'U_AC', 'U_FPLACE', 'U_INT_FIN', 'U_INT_CND', 'U_VIEW'],
      dtype='object')

In [14]:
data["MAIL_ADDRESS"]

0              87 BEACON ST #2F
1              87 BEACON ST #2R
2             87 BEACON ST #3-F
3               348 CONGRESS PL
4                  87 BEACON ST
                  ...
174663                4 LAKE ST
174664           513 E BROADWAY
174665    2203 COMMONWEALTH AVE
174666    2203 COMMONWEALTH AVE
174667    2203 COMMONWEALTH AVE
Name: MAIL_ADDRESS, Length: 174668, dtype: object

In [6]:
data["ST_NAME"].isna().sum() # 0
data["ST_NUM"].isna().sum() # 0
data["ST_NAME_SUF"].isna().sum() # 539
data["ZIPCODE"].isna().sum() # 7

7

# Public Works Violations DataFrame

## `pw_df`

In [7]:
pw_df = pd.read_csv("../data/public-works-violations/tmpcmn0p2r0.csv", low_memory=False)

In [15]:
print(pw_df.shape)
pw_df.head()

(481429, 17)

,ticket_no,status_dttm,status,code,value,description,stno,sthigh,street,suffix,city,state,zip,sam_id,latitude,longitude,location
0,CE494577,2020-05-26 07:29:00,Open,1,25,Improper storage trash: res,118,NaN,Commonwealth,AVE,Boston,MA,02116,37097,42.351830,-71.076720,"(42.3518299997315, -71.0767200009251)"
1,CE494575,2020-05-26 07:26:00,Open,1,25,Improper storage trash: res,1037,,River,ST,Hyde Park,MA,02136,344142,42.259883,-71.117176,"(42.2598833641543, -71.1171758487242)"
2,CE494575,2020-05-26 07:26:00,Open,3,100,Overfilling of barrel/dumpster,1037,,River,ST,Hyde Park,MA,02136,344142,42.259883,-71.117176,"(42.2598833641543, -71.1171758487242)"
3,CE494576,2020-05-26 07:25:00,Open,3,100,Overfilling of barrel/dumpster,110,NaN,Warren,ST,Allston,MA,02135,143122,42.349353,-71.141434,"(42.3493529997196, -71.1414340008673)"
4,CE494576,2020-05-26 07:25:00,Open,1,25,Improper storage trash: res,110,NaN,Warren,ST,Allston,MA,02135,143122,42.349353,-71.141434,"(42.3493529997196, -71.1414340008673)"

In [ ]:
pw_df.dtypes

In [ ]:
pw_df.isna().sum()

# Crime Incident Reports

## `crime_df`

In [8]:
crime_df = pd.read_csv("../data/crime-incident-reporting/tmpuxm3s5u0.csv", low_memory=False)

In [12]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,TESTTEST2,423,NaN,ASSAULT - AGGRAVATED,External,,0,2019-10-16 00:00:00,2019,10,Wednesday,0,NaN,RIVERVIEW DR,NaN,NaN,"(0.00000000, 0.00000000)"
1,I92102201,3301,NaN,VERBAL DISPUTE,E13,583,0,2019-12-20 03:08:00,2019,12,Friday,3,NaN,DAY ST,42.325122,-71.107779,"(42.32512200, -71.10777900)"
2,I92097173,3115,NaN,INVESTIGATE PERSON,C11,355,0,2019-10-23 00:00:00,2019,10,Wednesday,0,NaN,GIBSON ST,42.297555,-71.059709,"(42.29755500, -71.05970900)"
3,I92094519,3126,NaN,WARRANT ARREST - OUTSIDE OF BOSTON WARRANT,D14,765,0,2019-11-22 07:50:00,2019,11,Friday,7,NaN,BROOKS ST,42.355120,-71.162678,"(42.35512000, -71.16267800)"
4,I92089785,3005,NaN,SICK ASSIST,E13,574,0,2019-11-05 18:00:00,2019,11,Tuesday,18,NaN,WASHINGTON ST,42.309718,-71.104294,"(42.30971800, -71.10429400)"

In [13]:
crime["INCIDENT_NUMBER"].isna().sum()

0

In [18]:
crime["Location"].isna().sum()

0

In [17]:
crime.loc[crime["INCIDENT_NUMBER"] == "TEST"]

Empty DataFrame
Columns: [INCIDENT_NUMBER, OFFENSE_CODE, OFFENSE_CODE_GROUP, OFFENSE_DESCRIPTION, DISTRICT, REPORTING_AREA, SHOOTING, OCCURRED_ON_DATE, YEAR, MONTH, DAY_OF_WEEK, HOUR, UCR_PART, STREET, Lat, Long, Location]
Index: []

In [16]:
crime["INCIDENT_NUMBER"].value_counts()

I152071596    20
I172053750    18
I192025403    15
I182051210    14
I162067346    14
              ..
I192006646     1
I192038083     1
I152091323     1
202010090      1
I182015754     1
Name: INCIDENT_NUMBER, Length: 433164, dtype: int64

# 311 Requests

## `requests`

In [9]:
requests_df = pd.read_csv("../data/311-requests/311_service_requests_2019.csv")

# Short Term Rental Eligible

## `str_elgible`

In [10]:
str_eligible_df = pd.read_csv("../data/short-term-rental-eligible/tmptpi1c0rx.csv")

# Fire Incident Reporting

## `fire_df`

In [17]:
path = r"../data/fire-incident-reporting/"
files = glob.glob(path + "/*.csv")

data_list = []

for file in files:
    df = pd.read_csv(file, index_col=None, header=0)
    data_list.append(df)
    
fire_df = pd.concat(data_list, axis=0, ignore_index=True)